<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="truckplannerApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="truckplannerApp.order.number">Number</span></dt>
                <dd>
                    <span>{{order.number}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.orderType">Order Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'truckplannerApp.OrderType.' + order.orderType}}">{{order.orderType}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.orderStatus">Order Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'truckplannerApp.OrderStatus.' + order.orderStatus}}">{{order.orderStatus}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.requestTimestamp">Request Timestamp</span></dt>
                <dd>
                    <span>{{order.requestTimestamp}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.origin">Origin</span></dt>
                <dd>
                    <span>{{order.origin}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.destination">Destination</span></dt>
                <dd>
                    <span>{{order.destination}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.weight">Weight</span></dt>
                <dd>
                    <span>{{order.weight}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.volume">Volume</span></dt>
                <dd>
                    <span>{{order.volume}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.truckingDate">Trucking Date</span></dt>
                <dd>
                    <span>{{order.truckingDate}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.departureTimeLocal">Departure Time Local</span></dt>
                <dd>
                    <span>{{order.departureTimeLocal}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.arrivalTimeLocal">Arrival Time Local</span></dt>
                <dd>
                    <span>{{order.arrivalTimeLocal}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.mode">Mode</span></dt>
                <dd>
                    <span jhiTranslate="{{'truckplannerApp.Mode.' + order.mode}}">{{order.mode}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.requestedPositions">Requested Positions</span></dt>
                <dd>
                    <span>{{order.requestedPositions}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.truck">Truck</span></dt>
                <dd>
                    <div *ngIf="order.truck">
                        <a [routerLink]="['/truck', order.truck?.id, 'view']">{{order.truck?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.delivery">Delivery</span></dt>
                <dd>
                    <div *ngIf="order.delivery">
                        <a [routerLink]="['/delivery', order.delivery?.id, 'view']">{{order.delivery?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.order.truckCompany">Truck Company</span></dt>
                <dd>
                    <div *ngIf="order.truckCompany">
                        <a [routerLink]="['/truck-company', order.truckCompany?.id, 'view']">{{order.truckCompany?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
