<div>
    <h2 id="page-heading">
        <span jhiTranslate="truckplannerApp.truckCompany.home.title">Truck Companies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-truck-company" [routerLink]="['/truck-company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="truckplannerApp.truckCompany.home.createLabel">
            Create new Truck Company
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="truckCompanies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="truckplannerApp.truckCompany.email">Email</span></th>
            <th><span jhiTranslate="truckplannerApp.truckCompany.comunicationMode">Comunication Mode</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let truckCompany of truckCompanies ;trackBy: trackId">
                <td><a [routerLink]="['/truck-company', truckCompany.id, 'view' ]">{{truckCompany.id}}</a></td>
                <td>{{truckCompany.email}}</td>
                <td jhiTranslate="{{'truckplannerApp.CommunicationMode.' + truckCompany.comunicationMode}}">{{truckCompany.comunicationMode}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/truck-company', truckCompany.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/truck-company', truckCompany.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'truck-company', { outlets: { popup: truckCompany.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
