<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delivery">
            <h2><span jhiTranslate="truckplannerApp.delivery.detail.title">Delivery</span> {{delivery.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="truckplannerApp.delivery.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'truckplannerApp.DeliveryType.' + delivery.type}}">{{delivery.type}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.delivery.agentName">Agent Name</span></dt>
                <dd>
                    <span>{{delivery.agentName}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.delivery.street">Street</span></dt>
                <dd>
                    <span>{{delivery.street}}</span>
                </dd>
                <dt><span jhiTranslate="truckplannerApp.delivery.city">City</span></dt>
                <dd>
                    <span>{{delivery.city}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery', delivery.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
